old_data
*.code-workspace
acc_testing
*.csv
*.data
*.vscode
clone_test
ramulator_integration
src/sync_backwards.bat
src/secda_delegates/versions
src/secda_delegates/vm_sim_delegate_ram
scripts/delegate_generation/generated
scripts/results/*
scripts/filesForFPGA/*
hardware_automation/generated
hardware_automation/acc_srcs
scripts/experiment_prep/generated
src/secda_delegates/secda_vm_delegate/driver/gemm_driver_v1_03.h


src/secda_apps/imagenet_image_classification/ILSVRC2012_devkit
src/secda_apps/imagenet_image_classification
scripts/hardwareFilesGeneration
/src/secda_benchmark_suite/tmp
/src/secda_benchmark_suite/generated
/src/secda_benchmark_suite/results
/src/secda_benchmark_suite/model_gen/models
/src/secda_delegates/mm2im_delegate_v2
/src/secda_delegates/vm_delegate/accelerator_4
/src/secda_delegates/vm_delegate/accelerator_old