*.code-workspace
*.csv
*.data
*.vscode
*__pycache__

config.json
.devcontainer/config.json
.deprecated/

hardware_automation/generated
hardware_automation/acc_srcs
hardware_automation/hlx_templater/generated
hardware_automation/configs/MM2IM

src/.deprecated

src/benchmark_suite/results
src/benchmark_suite/generated
src/benchmark_suite/model_gen/models
src/benchmark_suite/model_gen/saved_models
src/benchmark_suite/scripts/__pycache__
src/benchmark_suite/scripts/tmp
src/benchmark_suite/tmp
src/benchmark_suite/logs
src/benchmark_suite/files

src/experimental/secda_apps_evaluation_suite/generated
src/experimental/secda_apps_evaluation_suite/tmp
src/experimental/secda_benchmark_suite/tmp
src/experimental/secda_benchmark_suite/scripts/tmp
src/experimental/secda_benchmark_suite/generated
src/experimental/secda_benchmark_suite/results
src/experimental/secda_benchmark_suite/model_gen/models
src/experimental/secda_benchmark_suite/power/files
src/experimental/secda_benchmark_suite/files
src/experimental/secda_benchmark_suite/scripts/__pycache__

src/secda_generator/generated

src/secda_delegates/.deprecated
src/secda_delegates/add_delegate/v1
src/secda_delegates/mm2im_delegate/v1
src/secda_delegates/mm2im_delegate/v2
src/secda_delegates/mm2im_delegate/v3
src/secda_delegates/mm2im_delegate/v4
src/secda_delegates/mm2im_delegate/v5
src/secda_delegates/mm2im_delegate/v6
src/secda_delegates/mm2im_delegate/v7
src/secda_delegates/mm2im_delegate/v8
src/secda_delegates/mm2im_delegate/v9
src/secda_delegates/mm2im_delegate/v10
src/secda_delegates/mm2im_delegate/v11
src/secda_delegates/mm2im_delegate/v12

src/secda_delegates/sa_delegate/v3
src/secda_delegates/vm_delegate/v3
src/secda_delegates/vm_delegate/v4